.vehicle-section {
    min-height: 70rem;
    position: relative;
    &__details {
        display: flex;
        flex-direction: column;

        max-width: 30rem;
        font-size: 2.4rem;
        gap: 1.8rem;

        position: absolute;
        top: 0;
        right: 0;

        span {
            margin-left: 1.6rem;
        }
    }
    &__title {
        font-size: 2.8rem;
    }

    &__nation {
        img {
            width: 3.2rem;
        }
    }

    &__description {
        font-size: 1.6rem;
        text-align: justify;
    }
}
